[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"

[dev-packages]
pytest = "*"
hypothesis = "*"
perf = "*"
scikit-learn = "*"
matplotlib = "*"
pudb = "*"
pytest-pudb = "*"
mypy = "*"

[requires]
python_version = "3.7"
